@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
.header {
    /* background: red; */
    padding: va( --space-layout-padding-lr);
    
}
.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;padding:  15px 15px 0 15px;
    /* background: violet; */
}
.main {
    /* background: blue; */
    padding: var(--space-layout-padding-lr);
    overflow-y: auto;
    height: 40vh;

}
.checkout__details{
    /* padding: 5px; */
    padding: var(--space-layout-padding-lr);
}
.detail__product {
    /* background: rgb(0, 255, 34); */
    /* padding: 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-3);
}
.product__imagen {
    width: var(--layout-imagen-width-checkout);
    height:var(--layout-imagen-height-checkout);
    /* background: rgb(183, 255, 0); */
}

.product__imagen img{
    width: var(--layout-imagen-width-checkout);
    height:var(--layout-imagen-height-checkout);
    object-fit: cover;
    margin-left: -0.5pc;
}
.product__descripcion{
    position: relative;
    display: flex;
    flex-direction: column;
}
.product__descripcion h3{
    font-family: "Encodesans-semiBold";

}
.product__descripcion small{
    margin-top:2px;
    color: var(--color-3);
}
.product__descripcion span{
    font-family: "Encodesans-semiBold";
    position: absolute;
    bottom: 0;
}
.product__custom{
    /* background: turquoise; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product__custom > img{
    width: 25%;
    margin-top: 8px;
    align-self: self-end;
    margin-right: 2px;
}
.product__seleccion {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-4);
    color: var(--color-5);
}
.product__seleccion{
    height: 25px;
    width: 80px;
    object-fit: cover;
}
