<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="checkout.html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <header class="contenedorp">
        <div class="contenedorh">
            <p>Checkout</p>
        </div>
        <div class="contenedorimagen">
            <img src="../storage/img/back-paggin3.svg" id="back">
            <img src="../storage/img/menu-paggin3.svg" id="menu">
        </div>
    </header>
    <div class="lista">
        <div class="cont__lista">
           <img src="../storage/img/foto1-paggin3.svg" alt=""> 
           <img src="../storage/img/cont-foto1.svg" id="cont-foto1">
           <img src="../storage/img/3puntos.svg"id="opciones1">
           <button class="botton">
            <img src="../storage/img/minus.svg" id="img" >
            <span>4</span>
           <img src="../storage/img/plus.svg" id="img">
           </button>
           
        </div>
        <div class="cont__lista2">
            <img src="../storage/img/foto1-paggin3.svg" alt=""> 
            <img src="../storage/img/cont-foto1.svg" id="cont-foto1">
            <img src="../storage/img/3puntos.svg"id="opciones">
            <button class="botton2">
             <img src="../storage/img/minus.svg" id="img" >
             <span>1</span>
            <img src="../storage/img/plus.svg" id="img">
            </button>
        </div>
        <div class="cont__lista3">
            <img src="../storage/img/foto1-paggin3.svg" alt=""> 
            <img src="../storage/img/cont-foto1.svg" id="cont-foto1">
            <img src="../storage/img/3puntos.svg"id="opciones3">
            <button class="botton2">
             <img src="../storage/img/minus.svg" id="img" >
             <span>4</span>
            <img src="../storage/img/plus.svg" id="img">
            </button>
        </div>
    </div>
</body>

</html>