<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="checkout.html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
   <header class="header">
    <nav class="nav__header">
        <div>
            <a href="detail.html">
                <img src="../storage/img/Back (2).svg" alt="">
            </a>
        </div>
        <div>Checkout</div>
        <div>
            <img src="../storage/img/sidebar.svg" alt="">
        </div>
    </nav>
   </header>
    <main class="main">
        <section class="checkout__details">   
            <article class="detail__product">
                <div class="product__imagen">
                    <img src="../storage/img/foto1-paggin3.svg">
                </div>
                <div class="product__descripcion">
                    <h3 >Modern light clothes</h3>
                    <small>Dress Modern</small>
                    <span>212.99</span>
                </div>                
                
                <div class="product__custom">
                    <img src="../storage/img/3puntos.svg" alt="">
                    <div class="product__seleccion">
                    <img src="../storage/img/minus.svg" alt="">
                    <span>4</span>
                    <img src="../storage/img/plus.svg" alt="">
                </div>
            </article>
        </section>
        <section class="checkout__details">   
            <article class="detail__product">
                <div class="product__imagen">
                    <img src="../storage/img/foto2-paggin3.svg">
                </div>
                <div class="product__descripcion">
                    <h3 >Modern light clothes</h3>
                    <small>Dress Modern</small>
                    <span>212.99</span>
                </div>                
                
                <div class="product__custom">
                    <img src="../storage/img/3puntos.svg" alt="">
                    <div class="product__seleccion">
                    <img src="../storage/img/minus.svg" alt="">
                    <span>4</span>
                    <img src="../storage/img/plus.svg" alt="">
                </div>
            </article>
        </section>

        <section class="checkout__details">   
            <article class="detail__product">
                <div class="product__imagen">
                    <img src="../storage/img/foto3-paggin3.svg">
                </div>
                <div class="product__descripcion">
                    <h3 >Modern light clothes</h3>
                    <small>Dress Modern</small>
                    <span>212.99</span>
                </div>                
                
                <div class="product__custom">
                    <img src="../storage/img/3puntos.svg" alt="">
                    <div class="product__seleccion">
                    <img src="../storage/img/minus.svg" alt="">
                    <span>4</span>
                    <img src="../storage/img/plus.svg" alt="">
                </div>
            </article>
        </section>
 
        <section class="checkout__details">   
            <article class="detail__product">
                <div class="product__imagen">
                    <img src="../storage/img/foto1-paggin3.svg">
                </div>
                <div class="product__descripcion">
                    <h3 >Modern light clothes</h3>
                    <small>Dress Modern</small>
                    <span>212.99</span>
                </div>                
                
                <div class="product__custom">
                    <img src="../storage/img/3puntos.svg" alt="">
                    <div class="product__seleccion">
                    <img src="../storage/img/minus.svg" alt="">
                    <span>4</span>
                    <img src="../storage/img/plus.svg" alt="">
                </div>
            </article>
        </section>

        <section class="checkout__details">   
            <article class="detail__product">
                <div class="product__imagen">
                    <img src="../storage/img/foto2-paggin3.svg">
                </div>
                <div class="product__descripcion">
                    <h3 >Modern light clothes</h3>
                    <small>Dress Modern</small>
                    <span>212.99</span>
                </div>                
                
                <div class="product__custom">
                    <img src="../storage/img/3puntos.svg" alt="">
                    <div class="product__seleccion">
                    <img src="../storage/img/minus.svg" alt="">
                    <span>4</span>
                    <img src="../storage/img/plus.svg" alt="">
                </div>
            </article>
        </section>
        <section class="checkout__details">   
            <article class="detail__product">
                <div class="product__imagen">
                    <img src="../storage/img/foto3-paggin3.svg">
                </div>
                <div class="product__descripcion">
                    <h3 >Modern light clothes</h3>
                    <small>Dress Modern</small>
                    <span>212.99</span>
                </div>                
                
                <div class="product__custom">
                    <img src="../storage/img/3puntos.svg" alt="">
                    <div class="product__seleccion">
                    <img src="../storage/img/minus.svg" alt="">
                    <span>4</span>
                    <img src="../storage/img/plus.svg" alt="">
                </div>
            </article>
        </section>
    </main>
</body>

</html>