<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main class="main">

        <section class="main__section">
            <article class="article__product">
                <div id="main__section_gallery"  class="product__image">
                    <img src="../storage/img/camisa-jordan.png" >
                </div>
                <div class="product__menu">
                    <img id="back" onclick="window.location.href ='../index.html'"src="/storage/img/back.svg">
                    <img src="../storage/img//Like icon.svg" >
                </div>
            </article>
        </section>
        <section class="main__section">
                <article class="article__detail"></article>
                <div class="detail__head">
                    <h1>Camiseta jordan black</h1>
                    <div class="product__select">
                        <img src="../storage/img/-.svg" id="img" >
                        <span>1</span>
                        <img src="../storage/img/+.svg" id="img">
                    </div>
                </div>
                <div class="detail__score">
                    <img src="../storage/img/star.svg" >
                    <img src="../storage/img/star.svg" >
                    <img src="../storage/img/star.svg" >
                    <img src="../storage/img/star.svg" >
                    <img src="../storage/img/star.svg" >
                    <span>5.0</span>
                    <a href="#">(7932 reviews)</a>
                </div>
            </article>
        </section>
        <section class="main__section">
            <article class="product__information">
                <p>Its colorful and unique makes it perfect for
                    those of you who like it reserved <strong> Read More...</strong></p>
            </article>
            <hr>
        </section>
        <section class="main__section">
            <article class="product__custom">
                <div class="product__size">
                    <h5>Choose Size</h5>
                    <div>
                        <img src="../storage/img/s.svg" id="imagen">
                        <img src="../storage/img/m.svg" id="imagen">
                        <img src="../storage/img/l.svg" id="imagen">
                        <img src="../storage/img/xl.svg" id="imagen">
                    </div>
                </div>
                <div class="product__color">
                    <h5>Color</h5>
                    <div>
                        <img src="../storage/img/Choose Color.svg" alt="">
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <class id="shopping" onclick="window.location.href ='../views/checkout.html'" class="footer__ul">

            <li>
                <a href="#">
                    <img id="shopping__car" onclick="window.location.href ='../views/checkout.html'"src="../storage/img/shopping-cart.svg">
                    <span>Add to Cart | $102.990 <del>$112.990</del></span>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>