<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main class="main">
        
        <section class="main__section">
            <article class="article__product">
                <div class="product__image">
                    <img src="../storage/img/img1.png" >
                </div>
                <div class="product__menu">
                    <img src="../storage/img/back.svg">
                    <img src="../storage/img/heart.svg" >
                </div>
            </article>
        </section>
        <section>
            <article class="main__section">
                <div class="article__detail">
                    <h1>Modern Light Clothes</h1>
                    <div class="detail__product-numer">
                        <img src="../storage/img/minus.svg" >
                        <span>1</span>
                        <img src="../storage/img/plus.svg" >
                    </div>
                </div>
                <div class="puntuacion">
                    <img src="../storage/img/star.svg" >
                    <img src="../storage/img/star.svg" >
                    <img src="../storage/img/star.svg" >
                    <img src="../storage/img/star.svg" >
                    <img src="../storage/img/star.svg" >
                    <span>5.0</span>
                    <a href="#">(7932 reviews)</a>
                </div>
            </article>
        </section>
    </main>
    
</body>
</html>